{% extends "layout.html" %}

{% block title %}
    Cipher
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            
            <div>
                <a href="https://java-project-leeshuaihsun.cs50.io/upload_file" class="button">Upload file</a>
            </div>
            
            <div>
                <a href="https://java-project-leeshuaihsun.cs50.io/project1" class="button">Go to cipher</a>
            </div>
            
            <div>
                <a href="https://java-project-leeshuaihsun.cs50.io/project2" class="button">Go to decipher</a>
            </div>
            
        </fieldset>
    </form>
{% endblock %}
