<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Java Project</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- <%--<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>--%> -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.min.js"></script>
    <script src="js/jquery.fullPage.min.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.fullpage({
                slidesColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#f90', '#4fdc3c', '#c559ff'],
                anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
            });
        });
    </script>
  </head>
  <body>

  <!-- section one -->
  <div class="section section1">
    <div class="container demo-3">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title">Java Project</span></h1>
        </div>
      </div>
    </div><!-- /container -->
  </div>

  <!-- section two -->
  <div class="section section2">
    <div class="wrapper">
      <h4>GPA calculator</h4>
      <h5>
        <ul>
          <li>Calculate the GPA of 6 students from a file</li>
          <li>Output the GPA to another file</li>
        </ul>
      </h5>
      <div class="projectBox">
        <!-- uploadfilex -->
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="upload_id">
          <label id="inputFile" for="file" class="inputBox">
            <input class="input1" type="file" name="file" id="file" onchange="uploadFile()">
            <h6>select</h6>
          </label>
        </form>
        <!-- <button type="button">Submit</button> -->
      </div>
    </div>
  </div>

  <!-- section three -->
  <div class="section section3">
    <div class="slide">
      <h1>Slide one</h1>
      <p>Hello world</p>
    </div>
    <div class="slide">
      <h1>Slide two</h1>
    </div>
    <div class="slide">
      <h1>Slide three</h1>
    </div>
  </div>

  <!-- section four -->
  <div class="section section4">
    <div class="wrapper">
      <h4>Caesar Cipher & Decipher</h4>
      <h5>
        <ul>
          <li>Reads a message from user</li>
          <li>Performs a Caesar cipher on its letters with a shift that user wants</li>
        </ul>
      </h5>
      <div class="projectBox">
        <div class="subbox">
          <div class="line">
            <h8>Cipher</h8>
            <!-- cipherx -->
            <form action="/" method="post" id="cipher_id">
              <div class="inputbox">
                <input type="text" id="enterText1" placeholder="Cipher text">
                <input type="number" id="interNumber" value="1" maxlength="100">
                <div class="buttonbox">
                  <button type="button" onclick="cipherPost()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="subbox">
          <div class="line">
            <h8>Decipher</h8>
            <!-- decipherx -->
            <form action="/" method="post" id="decipher_id">
              <div class="inputbox">
                <input type="text" id="enterText2" placeholder="Decipher text">
                <div class="buttonbox">
                  <button type="button" onclick="DecipherPost()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>

  <!-- section five -->
  <div class="section section5">
    <div class="slide">
      <h1>Slide one</h1>
      <p>Hello world</p>
    </div>
    <div class="slide">
      <h1>Slide two</h1>
    </div>
    <div class="slide">
      <h1>Slide three</h1>
    </div>
  </div>

  <!-- section six -->
  <div class="section section6">
    <div id="thanks">THANK YOU!</div>
  </div>

  <script type="text/javascript">
    function cipherPost() {
      $.ajax({
        type: "POST",
        data: $("#cipher_id").serialize(),
        url: "/cipher",
        success: function(data)
        {   
            alert(data);
        }
      });
    }
    function decipherPost() {
      $.ajax({
        type: "POST",
        data: $("#decipher_id").serialize(),
        url: "/decipher",
        success: function(data)
        {   
            alert(data);
        }
      });
    }
    function uploadFile() {
      $("#upload_id").submit(function(e){
        alert(e);
      });
      $("#upload_id").submit();
    }
  </script>

  <script src="js/TweenLite.min.js"></script>
  <script src="js/EasePack.min.js"></script>
  <script src="js/rAF.js"></script>
  <script src="js/demo-3.js"></script>

  <!-- <%--<script type="text/javascript" src="js/main.js"></script>--%> -->
  <!-- <%--<h3 id="message"><%=project1.getMessage()%></h3>--%> -->
  </body>
</html>
